@mixin chevron-box() {
  clip-path: polygon(
    0 0,
    calc(100% - 12px) 0,
    100% 50%,
    calc(100% - 12px) 100%,
    0 100%,
    12px 50%
  );
}

.breadcrumb {
  display: flex;
  user-select: none;

  padding: 0.5rem 0;

  div {
    position: relative;

    a {
      width: 100%;
      display: block;
      padding: 0 20px;

      text-decoration: none;

      background-color: var(--success);
      color: var(--base);

      &:hover {
        background-color: var(--teal);
      }

      &:not(li a) {
        @include chevron-box();
      }
    }

    ul {
      min-width: 100%;

      display: none;
      position: absolute;
      list-style: none;

      li {
        min-width: 100%;
        width: max-content;
        margin-top: 10px;

        text-align: start;
      }
    }

    &:hover ul {
      display: block;
    }
  }
}
