.markdown {
  line-height: 1.75; /* or even 1.8 for body text */

  .markdown h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  img,
  table {
    margin: 1.5rem 0; /* or 2rem for h1/h2 */
  }

  .markdown p {
    margin: 0.5rem 0; /* a bit more breathing room */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0.5px;

    a {
      text-decoration: none;
    }

    a:hover {
      color: var(--base) !important;
    }
  }

  h1 {
    color: var(--rosewater);
    font-size: 2rem;

    &::before {
      content: "# ";
    }
  }

  h2 {
    color: var(--error);
    font-size: 1.75rem;

    &::before {
      content: "## ";
    }
  }

  h3 {
    color: var(--lavender);
    font-size: 1.5rem;

    &::before {
      content: "### ";
    }
  }

  h4 {
    color: var(--warning);
    font-size: 1.25rem;

    &::before {
      content: "#### ";
    }
  }

  h5 {
    color: var(--success);
    font-size: 1.125rem;

    &::before {
      content: "##### ";
    }
  }

  h5 {
    color: var(--success);
    font-size: 1rem;

    &::before {
      content: "###### ";
    }
  }

  strong {
    color: var(--teal);
  }

  em {
    color: var(--lavender);
  }

  pre {
    padding: 0.5rem;
    border: 0.1rem solid var(--teal);

    &:hover {
      background-color: var(--pane-light) !important;
    }
  }

  code:not(pre code) {
    color: var(--rosewater);
    font-weight: bold;

    &:hover {
      background-color: var(--pane-dark) !important;
      cursor: pointer;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 0.1rem solid var(--teal);
      padding: 0.2rem 0.3rem;
    }
  }

  img {
    max-width: 100%;
  }

  blockquote {
    border-left: 0.33rem solid var(--success);

    padding: 1rem 1.25rem;
    margin: 1.5rem 0;

    font-style: italic;

    &:hover {
      background-color: var(--surface0);
    }
  }

  hr {
    margin-bottom: 2rem;
  }
}
