:root {
  --color-bg: #0f0f0f;
  --color-text: #e0e0e0;
  --color-link: #9f7aea;
  --color-border: #eecefe22;
}

@font-face {
  font-family: Serrif;
  src:
    url(/fonts/SerrifVF.woff2) format("woff2 supports variations"),
    url(/fonts/SerrifVF.woff2) format("woff2-variations");

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;

  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-bg);
  color: var(--color-text);

  font-size: 20px;
  font-family: "Serrif", serif;
  font-feature-settings:
    "calt" 1,
    "liga" 1;
}

nav#navbar {
  width: 100%;
  padding: 12px 0;

  gap: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid var(--color-border);
}

main {
  flex-grow: 1;

  width: 100%;
  padding: 0 24px;
}

footer {
  padding: 0 24px;

  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  main {
    width: 67%;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  main {
    width: 50%;
    padding: 0;
  }
}

p {
  line-height: 1.6rem;
}

a:not(:has(img)) {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 600;
}

a:hover:not(:has(img)) {
  color: var(--color-bg);
  background-color: var(--color-text);
}

.column-list {
  display: flex;
  flex-direction: column;
}

blockquote {
  margin: 0;
  padding: 2px 0;
  padding-left: 24px;
  border-left: 2px solid var(--color-link);
}

blockquote:hover {
  padding-left: 18px;
  border-left-width: 4px;
}

blockquote p {
  margin: 8px 4px;
}

pre:has(> code) {
  overflow-x: scroll;
  width: 100%;
  padding: 16px 0;
}

pre code .keyword {
  color: #c678dd;
}

pre code .string {
  color: #98c379;
}

pre code .comment {
  color: #7f848e;
  font-style: italic;
}

pre code .function {
  color: #61afef;
}

pre code .number {
  color: #d19a66;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.badges p {
  display: inline;
  margin-right: 0.5em;
}

.badges img:hover {
  transform: translateY(-4px);
  transition: 0.075s linear;
  cursor: pointer;
}