{% extends "_markdown.html" %}

{% block opengraph %}
	{{ super() }}

	<meta property="og:type" content="website">
{% endblock %}

{% macro nested_section_pages(sec) %}
	{% if sec.pages  %}
		<li class="section">
			<div class="metadata"">
				<h4>{{ sec.title }}</h4>
				<p>
					<small>{{ sec.description }}</small>
				</p>
			</div>
			<ul class="pages">
				{% for page in sec.pages %}
					<li>
						<a href="{{ page.permalink }}">{{ page.date }} - {{ page.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endif %}

	{% for sub_path in sec.subsections %}
		{% set sub = get_section(path=sub_path) %}
		{{ self::nested_section_pages(sec=sub) }}
	{% endfor %}
{% endmacro %}

{% block content %}
	{{ super() }}

	<ul class="blog">
		{{ self::nested_section_pages(sec=section) }}
	</ul>
{% endblock %}
