{% extends "_base.html" %}

{% macro nested_section_pages(sec, emit=true) %}
    {% if emit %}
        <li class="section">
            <h3>{{ sec.title }}</h3>
            <ul class="pages">
                {% for page in sec.pages %}
                    <li>
                        <a href="{{ page.permalink }}">{{ page.date }} - {{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% for sub_path in sec.subsections %}
        {% set sub = get_section(path=sub_path) %}
        {{ self::nested_section_pages(sec=sub, emit=true) }}
    {% endfor %}
{% endmacro %}

{% block content %}
    <h2>{{ section.title }}</h2>

    <article class="markdown">
        <hr>

        {{ section.content | safe }}
    </article>

    <ul class="blog">
        {{ self::nested_section_pages(sec=section) }}
    </ul>
{% endblock %}
