<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="theme-color" content="#cba6f7">

		{% block rss %}
  			<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
		{% endblock %}

		{% block opengraph %}
			{% if section %}
				{% set page = section %}
			{% endif %}

			<title>ufufurina - {{ page.title }}</title>
			<meta name="description" content="{{ page.description }}">
			<link rel="icon" href="/avatar.jpg">

			<meta property="og:site_name" content="ufufurina">

			<meta property="og:title" content="{{ page.title }}">
			<meta property="og:description" content="{{ page.description }}">
			<meta property="og:url" content="{{ page.permalink }}">

			<meta name="twitter:title" content="{{ page.title }}">
			<meta name="twitter:description" content="{{ page.description }}">

			<meta name="twitter:creator" content="legendragswt">

			{% set image = "/avatar.jpg" %}

			{% if page.extra.hero %}
				<meta name="twitter:card" content="summary_large_image">
				{% set image = page.extra.hero %}
			{% else %}
				<meta name="twitter:card" content="summary">

				{% if page.extra.avatar %}
					{% set image = page.extra.avatar %}
				{% endif %}
			{% endif %}

			{% if image is starting_with("/") %}
				{% set image = config.base_url ~ image %}
			{% endif %}

			<meta name="twitter:image" content="{{ image }}">
			<meta property="og:image" content="{{ image }}">
		{% endblock %}

		<link rel="stylesheet" href="/styles.css">

		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  		<script defer
  		  src="https://analytics.hearth.is-a.dev/script.js"
  		  data-website-id="519a9532-1ae3-424e-b6dd-97a137fbe549">
  		</script>
	</head>

	<body>
		{{ self::breadcrumb() }}

		<div class="container">
			<section class="content">
				{% block content %}
				{% endblock %}


				<a href="https://notbyai.fyi" class="plain notbyai" title="rest assured, what youre seeing is slop-free">
					<img src="/notbyai/dark.svg" alt="badge for not-by-ai">
				</a>
			</section>
		</div>

		<footer>
			<small>
				<i>© 2026 dragsbruh. all text content is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> unless mentioned otherwise.</i>
			</small>
		</footer>
	</body>
</html>

{% macro breadcrumb() %}
	<nav class="breadcrumb">
		{% if not current_path %}
			{# 404 page #}
			{% set current_path = "/" %}
			{% set section = get_section(path="_index.md") %}
		{% endif %}

		{% set components =
			"/ufufurina" ~ current_path
				| trim_start_matches(pat="/")
				| trim_end_matches(pat="/")
				| split(pat="/")
		%}

		{% set_global acc = "" %}
		{% for component in components %}
			{% if not loop.first %}
				{% set_global acc = acc ~ "/" ~ component %}
			{% endif %}

			{% set dropdown = "none" %}

			{% if loop.last %}
				{% if page and page.extra.dropdown %}
					{% set dropdown = page.extra.dropdown %}
				{% elif section and section.extra.dropdown %}
					{% set dropdown = section.extra.dropdown %}
				{% endif %}
			{% else %}
				{% set section_path = acc ~ "/_index.md" %}
				{% set section = get_section(path=section_path | trim_start_matches(pat="/")) %}

				{% if section.extra.dropdown %}
					{% set dropdown = section.extra.dropdown %}
				{% endif %}
			{% endif %}

			{% set_global dropdown_items = [] %}

			{% if dropdown != "none" %}
				{% for item in dropdown %}
					{% if item == "pages" %}
						{% for page in section.pages %}
							{% set_global dropdown_items = dropdown_items | concat(with=page) %}
						{% endfor %}
					{% elif item == "subsections" %}
						{% for subsection in section.subsections %}
							{% set sub = get_section(path=subsection) %}
							{% set_global dropdown_items = dropdown_items | concat(with=sub)%}
						{% endfor %}
					{% else %}
						{% set_global dropdown_items = dropdown_items | concat(with=item) %}
					{% endif %}
				{% endfor %}
			{% endif %}

			<div>
				<a href="{{ '/' ~ acc | replace(from='//', to='/') }}">
					{{ component }}
				</a>

				<ul>
					{% for item in dropdown_items %}
						<li>
							<a href="{{ item.permalink }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</nav>
{% endmacro %}
